caption {
    background-color:blue;
    font-size:1.2em;
    font-weight:bold;
}

thead, tfoot {
    background-color:#CACACA;
}

table{
    font-family: "Lucida Sans, Verdana, Arial, sans‐serif" ;
    font-size: 1em;
    
}
